* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  margin: auto;
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  background: white;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#intro {
  padding-left: 11vw;
  display: flex;
  height: 75vh;
  background-color: hsl(0, 0%, 98%);
  overflow-x: clip;
}

#intro-image {
  width: 100%;
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: top 70% left 20%;
}

button {
  padding: 1rem 2.5rem;
  border-end-end-radius: 5rem;
  border-start-end-radius: 5rem;
  border-start-start-radius: 5rem;
  border-end-start-radius: 5rem;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

#header {
  display: flex;
  justify-content: space-between;
}

.article-post {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}

.article-author {
  font-size: 1rem;
  color: hsl(233, 8%, 62%);
}

.article-title {
  margin: 1rem 0 1rem 0;
  color: hsl(233, 26%, 24%);
}

.article-post {
  padding: 2rem;
  height: 50%;
}

.article-title:hover {
  cursor: pointer;
  color: limegreen;
}

nav a:hover {
  border-bottom: 5px solid greenyellow;
  cursor: pointer;
  color: black;
}

.footer-nav-list li:hover {
  color: limegreen;
  cursor: pointer;
}

.social-media *:hover {
  filter: invert(67%) sepia(23%) saturate(3718%) hue-rotate(72deg) brightness(99%) contrast(83%);
  cursor: pointer;
}

@media all and (min-width: 551px) {
  #header {
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: auto;

    height: 10vh;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: 100;
  }

  nav a {
    display: inline;
    color: hsl(233, 8%, 62%);
    text-decoration: none;
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
  }

  nav a:hover {
    padding-bottom: 3vh;
  }

  .mobile-nav {
    display: none;
  }

  #intro-text {
    align-self: center;
  }

  .mockimage {
    position: relative;
    top: -120px;
    margin-left: 10vw;
    z-index: 0;
  }

  .intro-title {
    font-size: 5rem;
    font-family: inherit;
    font-weight: 300;
    padding: 1rem;
    width: 60vh;
    color: hsl(233, 26%, 24%);
  }

  .intro-description {
    padding: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: hsl(233, 8%, 62%);
    width: 55vh;
  }

  .intro-button {
    margin: 1rem;
  }

  #feature {
    background-color: hsl(220, 16%, 96%);
    padding: 10vh 10vw 10vh 11vw;
    height: 70vh;
  }

  #feature-title {
    font-size: 3.4rem;
    padding: 1rem;
    color: hsl(233, 26%, 24%);
  }

  #feature-description {
    color: hsl(233, 8%, 62%);
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    width: 45vw;
  }

  #feature-all {
    display: flex;
    margin-top: 4rem;
    padding: 1rem;
    justify-content: space-between;
    gap: 1.6rem;
  }

  .feature-name {
    padding: 2rem 0 1rem 0;
    font-size: 2rem;
    color: hsl(233, 26%, 24%);
  }

  .feature-info {
    color: hsl(233, 8%, 62%);
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding-top: 1rem;
    text-align: start;
  }

  .articles-list {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    margin-top: 3rem;
  }

  .article-image {
    max-width: 100%;
  }

  #articles {
    background-color: hsl(0, 0%, 98%);
    padding: 10vh 10vw 10vh 11vw;
    height: 80vh;
  }

  .articles-title {
    font-size: 3.4rem;
    padding: 1rem;
    color: hsl(233, 26%, 24%);
  }

  .article {
    flex: 1;
    overflow: hidden;
  }

  .article-image {
    height: 50%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .article-info {
    color: hsl(233, 8%, 62%);
    font-size: 1.2rem;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
    display: flex;
    padding: 5vh 11vw 5vh 12vw;
    height: 30vh;
    justify-content: space-between;
    /* align-items: center; */
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }

  .footer-left {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer-nav {
    display: flex;
    flex: 2;
  }

  .footer-nav-list {
    padding-left: 10vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-self: baseline;
    color: hsl(220, 16%, 96%);
  }

  .footer-nav-list li {
    font-size: 1.25rem;
  }

  .copywrite {
    font-size: 1.25rem;
    color: hsl(233, 8%, 62%);
  }
}

@media all and (max-width: 550px) {
  #intro {
    padding: 0;
    flex-direction: column-reverse;
  }

  #intro-image {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: top -55px right -5px;
    background-repeat: no-repeat;
    height: 40vh;
  }

  .mockimage {
    position: relative;
    width: 100vw;
    top: -135px;
    padding: 1rem;
    z-index: 0;
    height: auto;
  }

  .navigation {
    position: relative;
    z-index: 5;
    padding: 2vh 5vw 2vh 5vw;
    background: white;
  }

  .intro-title {
    font-size: 3.5rem;
    text-align: center;
    z-index: 8888;
  }

  .intro-description {
    color: hsl(233, 8%, 62%);
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    z-index: 8888;
  }

  button {
    margin: auto;
  }

  #intro-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10vh;
    z-index: 8888;
    background-color: hsl(0, 0%, 98%);
  }

  #feature {
    padding: 2rem;
    background-color: hsl(220, 16%, 96%);
    padding-bottom: 8vh;
  }

  img {
    width: 100%;
  }

  #feature-title {
    margin-top: 10vh;
    font-size: 3rem;
    text-align: center;
  }

  #feature-description {
    color: hsl(233, 8%, 62%);
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
  }

  .feature-image {
    width: 6rem;
    height: 6rem;
    position: relative;
  }

  #feature-all {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .feature-info {
    color: hsl(233, 8%, 62%);
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
  }

  .articles-title {
    font-size: 2.5rem;
    /* padding: 5rem; */
    text-align: center;
  }

  .article {
    padding: 1rem 2rem;
  }

  .article-image {
    width: 100%;
  }

  #articles {
    padding: 10vh 0;

    background-color: hsl(0, 0%, 98%);
  }

  .article-image {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .article-post {
    /* display: block; */
    background-color: white;
    border-radius: 0 0 1rem 1rem;
  }

  .article-info {
    color: hsl(233, 8%, 62%);
    font-size: 1.2rem;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .articles-list {
    margin-top: 2vh;
  }
  footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
    padding: 5vh 11vw 5vh 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .social-media img {
    width: 15%;
    margin-right: 0.5rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: hsl(233, 8%, 62%);
  }

  .social-media {
    display: flex;
    gap: 1rem;
  }

  nav {
    display: none;
  }

  .header-logo {
    width: 40vw;
  }

  .header-button {
    display: none;
  }

  .copywrite {
    font-size: 1.5rem;
  }

  .mobile-nav {
    width: 3vh;
  }

  .mobile-menu {
    position: absolute;
    padding: 1rem;
    top: 4vh;
    left: 3vh;
    width: 87vw;
    margin: 0vw;
    color: black;
    z-index: 8888;
    margin: auto;
    background-color: white;
    border-radius: 8px;
  }

  .mobile-menu-bg {
    display: none;
    backdrop-filter: blur(1px);
    position: absolute;
    z-index: 888;
    height: 100vh;
    width: 100vw;
    left: 0px;
  }

  .mobile-menu ul {
    list-style-type: none;
    text-align: center;
  }

  .mobile-menu li {
    margin: 2.5rem;
  }

  #nav:checked ~ .mobile-menu-bg {
    display: block;
  }

  #nav + label {
    background-image: url("../images/icon-hamburger.svg");
    width: 6vw;
    height: 2vh;
    display: block;
    background-repeat: no-repeat;
    transition: 0.3s all;
  }

  #nav:checked + label {
    background-image: url("../images/icon-close.svg");
    width: 6vw;
    height: 2vh;
    display: block;
    background-repeat: no-repeat;
    transition: 0.3s all;
  }

  #nav {
    display: none;
  }
}
